@charset "UTF-8";

.tab {
	      width:508px;
	      height:380px;
	      position:relative;
	      margin:10px auto;
	      clear:both;
}
.menu{
	width:100px;
	height:35px;
	background:#9C9;
	float:left;
	list-style:none;
	padding:10px 0 0;
	margin-left:2px;
	text-align:center;
	display:block;
	cursor: pointer;
	color:#FFF;
}
.menu:first-child {
		  margin-left:0;
}
.active, .hover {
	 background:#F8C6BD;
	 font-weight:bold;
}
.content {
	 width:478px;
	 height:320px;
	// border:#6CC 5px solid;
	 background:#FFF;
	 background-image: url("dot1.gif"); 
	 top:32px;
	 left:0;
	 padding:5px;
	 position:absolute;
}



.colmask {
//position:relative;
//clear:both;
//float:left;
//width:100%; /* ページ全体幅 */
//overflow:hidden;
min-height:500px;
}
 
.rightmenu {
background:#fccbff; /* 右カラム背景色 */
background-image: url("dot1.gif");
 background-repeat: repeat;
 text-align: center;
}
 
.rightmenu .colleft {
//float:left;
//width:200%;
//margin-left:-200px;
//position:relative;
//right:100%;
background:#cbe6ff; /* 左カラム背景色 */
background-image: url("dot.gif");
 background-repeat: repeat;
 text-align: center;
}
 
.rightmenu .col1wrap {
//float:left;
//width:50%;
//position:relative;
//left:50%;
padding-bottom:1em;
}
 
 
.rightmenu .col2 {
//border:solid 4px black;
}




 .arrow_answer,
.arrow_question {
    //position: relative;
    background: #fff;
    border: 1px solid #c8c8c8;
   // padding: 20px;
    border-radius: 10px;
   // width: 55%;
   // float: right;
}
.arrow_question {
    //float: left;
}
.arrow_answer:after,
.arrow_answer:before,
.arrow_question:after,
.arrow_question:before {
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.arrow_question:after,
.arrow_question:before { right: 100% }
.arrow_answer:after,
.arrow_answer:before { left: 100% }
.arrow_answer:after,
.arrow_question:after {
    border-color: rgba(255, 255, 255, 0);
    border-width: 15px;
    margin-top: -15px;
}
.arrow_answer:after { border-left-color: #fff; }
.arrow_question:after { border-right-color: #fff; }
.arrow_answer:before,
.arrow_question:before {
    border-color: rgba(200, 200, 200, 0);
    border-width: 16px;
    margin-top: -16px;
}
.arrow_answer:before { border-left-color: #c8c8c8; }
.arrow_question:before { border-right-color: #c8c8c8; }
//.question_image { float: left;
                 // margin-right; 5px;
                 // width: 20%;
//}
//.answer_image {
    //float: right;
    //margin-left: 5px;
    //width: 20%;
//}
.quest	ion_Box {
    margin-bottom: 25px;
    overflow: hidden;.arrow_question
}
 
//.answer_image img{ border-radius: 50px; float: right;}
//.question_image img { border-radius: 50px;}
 
@media only screen and (max-width: 767px) {
.arrow_question {
//float: right;
}
.arrow_answer {
//float: left;
}
}
 
 * {
            box-sizing: border-box;
        }



        .box {
          position: relative;
               background: #ccc;
               width: 100px;
               margin-bottom: 20px;
               padding: 5px;        }

        .box:before,
        .box:after {
            content: '';
            position: absolute;
            display: block;
        }           

        .box.top:after {
            top: -9px;
            left: 5px;
            border-bottom: 10px solid #ccc;
            border-right: 5px solid transparent;
            border-left: 5px solid transparent;
        }

        .box.bottom:after {
            bottom: -9px;
            left: 5px;
            border-top: 10px solid #ccc;
            border-right: 5px solid transparent;
            border-left: 5px solid transparent;
        }

        .box.left:after {
            top: 10px;
            left: -9px;
            border-top: 5px solid transparent;
            border-right: 10px solid #ccc;
            border-bottom: 5px solid transparent;
        }

        .box.right:after {
            top: 10px;
            right: -9px;
            border-top: 5px solid transparent;
            border-left: 10px solid #ccc;
            border-bottom: 5px solid transparent;
        }

body{
 //margin:0;
 //padding:0;
 color:#666;
 background-image: url("dot2.gif");
 background-repeat: repeat;
 text-align: center;
}
header{
 //width: 40px;
 //margin: 0px top;
 //padding: 40px 0px;
 }
div#header{
 width: 100%;
 margin-top: 70px;
}
p{
 font-size: 100%;
 margin: 3px;
}
/*
img{
margin: 15px;
}
*/

.icon{
  height:50px;
}

#history{
  max-height:400px;
  overflow-y:scroll;
}

}